
<table class="table">
  <thead>
    <tr>
      <th>Room Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  <% @rooms.each do |room| %>
    <tr>
      <td><%= link_to room.name, edit_room_path(room) %></td>
      <td><%= room.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>
